@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, *::before, *::after, * {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {background-color: #ccd9e6;}

.flex {display: flex;}
.al-center {
    align-items: center;
}
.jus-center {justify-content: center;}
.jus-between {justify-content: space-between;}

.default-box-shadow {
    box-shadow: 0 0 2px #000;
}

.central-box {
    background-color: transparent;
    width: 35%;
    height: auto;
    text-align: center;
    flex-direction: column;
    box-shadow: 0 0 3px #000 inset;
}

.logo-area {
	flex-direction: column;
}
.logo-area #id_logo_title {
    margin: 0.2em 0 0.5em;
    text-decoration: underline;
}
.logo-area #id_logo_img {
	width: 148px;
}
.logo-area #id_logo_img.no-title {
	margin-bottom: 2em;
}
.logo-area:first-child {
	margin-top: 2em;
}

.search-area {
    margin-bottom: 2em;
}
.search-area input, .search-area button {
    height: 2em;
    font-size: 1.3em;
    border: 2px solid #35418f;
}
.search-area input {
    width: 80%;
    padding-left: 0.2em;
    border-right: none;
}
.search-area button {
    cursor: pointer;
    width: 10%;
    background-color: #4d5bb0;
    color: #fff;
}
.search-area button:hover {
    background-color: #7382de;
}

.links-area button{
    border: 1px solid black;
}

.footer-area {
    font-size: 0.9em;
    margin-top: 3em;
    padding: 0 1em 0.5em;
}

.links-area .links-button {
    width: 48px;
    height: 48px;
    box-shadow: 0 0 2px #000;
    background-color: #bcc2e8;
}
.links-area .links-button:hover {
    background-image: linear-gradient(125deg, #bcc2e8, #daddf0);
    cursor: pointer;
}
.links-area .links-button .links-img {
    width: 28px;
    height: 28px;
}